<<<<<<< HEAD

body {
    background-color: pink;
}

=======
>>>>>>> e863584ccc2f498dfb18edb58ece4e433b865f6f
.container {
    border: 2px solid black;
    padding: 30px;
}

.cont-level-0 {
    background-color: orangered;
}

.cont-level-1 {
    background-color: orange;
}

.cont-level-2 {
    background-color: lightsalmon;
    cursor: pointer;
}