div {
    border: 1px solid black;
    margin: 5px;
    padding: 5px;
}

button {
    cursor: pointer;
}

.box:focus {
    border: 4px dashed blue;
}

form {
    text-align: center;
    padding: 5px;
}

form>h2 {
    border: 4px dashed green;
}