body {
    background-color: azure;
}

.container {
    width: 500px;
    height: 50vh;
    margin: auto;
    position: relative;
    top: 10vh;
    overflow: hidden;
}

.container-notes {
    display: flex;
    flex-direction: column;
    height: 100%;
    row-gap: 8px;
    background-color: rgb(140, 193, 239);
    border-radius: 10px;
    padding: 8px;
    box-sizing: border-box;
}

#note-content {
    height: 70%;
    resize: none;
}

#note-title {
    height: 20%;
    font-size: 3rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}

.txt-input {
    border-radius: 10px;
    border: none;
    background-color: rgb(140, 193, 239);
}

.txt-input:focus {
    outline: none;
}

.horizontal-ruler {
    border: 1px solid black;
    width: 100%;
}

.form-action-buttons {
    text-align: center;
}

.form-action-buttons .form-btn {
    padding: 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.form-action-buttons .form-btn:active {
    opacity: 70%;
    box-shadow: 3px 3px 3px black;
}

#btn-reset-form {
    background-color: rgb(219, 219, 126);
}

#btn-clear-form {
    background-color: lightsalmon;
}