h1 {
    text-align: center;
    font-size: 2.5rem;
}

#div-page-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10vh;
}

.img-dice-container {
    display: flex;
    column-gap: 15px;
    row-gap: 15px;
    max-width: 25vw;
    flex-wrap: wrap;

    justify-content: center;
}

.img-dice {
    width: 100px;
    height: 100px;
}

.labels {
    font-size: 2rem;
    font-weight: 800;
}

#input-dice-count {
    width: 60px;
    /* appearance: none; */
    text-align: center;
    font-size: 1.4rem;
    font-weight: 800;
    padding: 10px;
    border-radius: 5px;
}

.btn-large {
    font-size: 1.4rem;
    font-weight: bold;
    border-radius: 10px;
    padding: 10px;
    background-color: rgba(144, 211, 237, 0.44);
    cursor: pointer;
}

.btn-large:hover {
    background-color: rgba(144, 211, 237, 0.851);
    box-shadow: 5px 2px 3px;
}

.btn-large:active {
    background-color: rgb(144, 164, 237);
}

.game-controls {
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.scoreboard {
    text-align: center;
}